<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Cinema.myapplication"  xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>


    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon,android:theme,android:allowBackup,android:label,android:supportsRtl"
        tools:overrideLibrary="androidx.appcompat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".PayFinishActivity">
            <intent-filter>
                <action android:name="com.Cinema.myapplication.ACTION_START" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PayActivity">
        </activity>

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomePageActivity"
            android:label="HomePage">
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="Register">
        </activity>

        <activity
            android:name=".ScheduleActivity"
            android:label="Schedules">
        </activity>

        <activity
            android:name=".SelectSeatActivity"
            android:label="SELECT">
        </activity>

        <activity
            android:name=".NavActivity"
            android:label="SELECT">
        </activity>

        <activity
            android:name=".CheckOrderActivity"
            android:label="SELECT">
        </activity>

        <activity
            android:name=".OrderDetailActivity"
            android:label="SELECT">
        </activity>



    </application>

</manifest>